.main {
    display: flex;
}

.aside {
    flex-grow: 0.3;
}

.content {
    flex-grow: 0.7;
}

.dots{
    opacity: 0.7;
}

#listContainer{
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    border: black 1px solid;
}